{% extends 'base.html' %}
{% block title %}
    <title>{{form.instance.name}}</title>
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">

        <h4>Item Name: {{ form.instance }}</h4>
        <br>Added by: {{ form.instance.user }}<br>
        Restaurant Name: {{ form.instance.restaurant }}<br>
        {% if form.instance.contents %}
            Contents: <br>
            <ul>
                {% for content in form.instance.get_contents %}
                    <span class="badge badge-default">{{ content }}</span>
                {% endfor %}
            </ul>
        {% endif %}

        {% if form.instance.excludes %}
            Excludes: <br>
            <ul>
                {% for exclude in form.instance.get_excludes %}
                    <span class="badge badge-default">{{ exclude }}</span>
                {% endfor %}
            </ul>
        {% endif %}
        Added Date: {{ form.instance.timestamp }}<br>
        Updated Date: {{ form.instance.updated }}
        </div>
    </div>
    </div>

<hr/>

<h3>Make Changes</h3>
    {% include 'snippets/form-snippet.html' with form=form %}
{% endblock content %}