{% extends 'base.html' %}
{% block title %}
    <title>Menu Items List</title>
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
<h1>Menu Item List of your Followers</h1>
<ul>
    {% for obj in qs %}
    <div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">

        <h4>Item Name: <a href="{% url 'profiles:detail' username=obj.user %}?q={{ obj }}">{{ obj }}</a></h4>
        <br>Added by: <a href="{% url 'profiles:detail' username=obj.user %}?q={{ obj.user }}">{{ obj.user }}</a><br>
        Restaurant Name: <a href="{% url 'profiles:detail' username=obj.user %}?q={{ obj.restaurant }}">{{ obj.restaurant }}</a><br>
        {% if obj.contents %}
            <ul>
            Contents: <br>

                {% for content in obj.get_contents %}
                    <a href="{% url 'profiles:detail' username=obj.user %}?q={{ content }}"><span class="badge badge-default">{{ content }}</span></a>
                {% endfor %}
            </ul>
        {% endif %}

        {% if obj.excludes %}
            <ul>
            Excludes: <br>
                {% for exclude in obj.get_excludes %}
                    <span class="badge badge-default">{{ exclude }}</span>
                {% endfor %}
            </ul>
        {% endif %}
        Added Date: {{ obj.timestamp }}<br>
        Updated Date: {{ obj.updated }}
        </div>
    </div>
    </div>

    {% empty %}
        <li><a href="{% url 'menuItems:create' %}">Add a Menu Item</a></li>
    {% endfor %}
</ul>
{% endblock content %}