{% extends 'base.html' %}
{% block title %}
    <title>{{user.username}}</title>
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
    <h1>{{user.username}}</h1>
    <hr/>

    {% if user.restaurant_set.all.exists %}
            <h3>{{user.username}}'s Restaurants</h3>
        <ul>
        {% for rest in user.restaurant_set.all %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                    <h3>{{ rest }}</h3>
                    <p>{{ rest.location }} | {{ rest.category }}</p>
                    {% if rest.menuitem_set.all.exists %}
                    <h3>Menu Items:</h3>
                    <ul>
                        {% for item in rest.menuitem_set.all %}
                            <li><h3>{{ item }}</h3><br>
                                {% if item.contents %}
                                    <ul>
                                    Contents: <br>

                                        {% for content in item.get_contents %}
                                            <span class="badge badge-default">{{ content }}</span>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if item.excludes %}
                                    <ul>
                                    Excludes: <br>
                                        {% for exclude in item.get_excludes %}
                                            <span class="badge badge-default">{{ exclude }}</span>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p class="lead">No items found</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
    <p class="lead">No restaurants found</p>
    {% endif %}
{% endblock content %}