{% extends 'base.html' %}
{% block title %}
    <title>{{user.username}}</title>
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
    {% if user != request.user %}
        {% include 'profiles/snippets/follow_form.html' with username=user.username is_following=is_following %}
    {% endif %}
    <h1>{{user.username}}</h1>
    <hr/>
    <form class="form" method="GET" action=".">
        <input type="text" placeholder="Search.." name="q" value="{{ request.GET.q }}">
        <button class="btn btn-default" type="submit">Search</button>
    </form>

    {% if following %}
        {% if user == request.user %}
            <h3>You are following</h3>
        {% else %}
            <h3>{{ user.username }} is following</h3>
        {% endif %}
        <ul>
            <div class="row">
            {% for fellow in following %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="{% url 'profiles:detail' username=fellow.username %}">{{ fellow }}</a>
                        {% if user == request.user %}
                        <a href="{% url 'profiles:unfollow' username=fellow.username %}" class="pull-right">
                            <span class="badge badge-default">Unfollow</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </ul>
    {% endif %}

    {% if suggested %}
        {% if user == request.user %}
            <h3>You may follow</h3>
        {% else %}
            <h3>{{ user.username }} may follow</h3>
        {% endif %}
        <ul>
            <div class="row">
            {% for fellow in suggested %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="{% url 'profiles:detail' username=fellow.username %}">{{ fellow }}</a>
                        {% if user == request.user %}
                        <a href="{% url 'profiles:follow' username=fellow.username %}" class="pull-right">
                            <span class="badge badge-default">Follow</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </ul>
    {% endif %}

    {% if followers %}
        {% if user == request.user %}
            <h3>Your Followers</h3>
        {% else %}
            <h3>{{ user.username }}'s Followers</h3>
        {% endif %}
        <ul>
            <div class="row">
            {% for fellow in followers %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <a href="{% url 'profiles:detail' username=fellow.username %}">{{ fellow }}</a>
{#                        {% if user == request.user %}#}
{#                        <a href="{% url 'profiles:follow' username=fellow.username %}" class="pull-right">#}
{#                            <span class="badge badge-default">Follow</span>#}
{#                        </a>#}
{#                        {% endif %}#}
                    </div>
                </div>
            {% endfor %}
            </div>
        </ul>
    {% endif %}

    {% if restaurants %}
        {% if user == request.user %}
            <h3>Your Restaurant List</h3>
        {% else %}
            <h3>{{ user.username }}'s Restaurant List</h3>
        {% endif %}
        <ul>
        {% for rest in restaurants %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                    <h3>{{ rest }}</h3>
                    <p><a href="{{ request.path }}?q={{ rest.location }}">{{ rest.location }}</a> | <a href="{{ request.path }}?q={{ rest.category }}">{{ rest.category }}</a></p>
                    {% if rest.menuitem_set.all.exists %}
                    <h3>Menu Items:</h3>
                    <ul>
                        {% for item in rest.menuitem_set.all %}
                            <li><h3><a href="{{ request.path }}?q={{ item }}">{{ item }}</a></h3><br>
                                {% if item.contents %}
                                    <ul>
                                    Contents: <br>

                                        {% for content in item.get_contents %}
                                            <a href="{{ request.path }}?q={{ content }}"><span class="badge badge-default">{{ content }}</span></a>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if item.excludes %}
                                    <ul>
                                    Excludes: <br>
                                        {% for exclude in item.get_excludes %}
                                            <span class="badge badge-default">{{ exclude }}</span>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p class="lead">No items found</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
    <p class="lead">No restaurants found</p>
    {% endif %}
{% endblock content %}