{% extends 'base.html' %}
{% block title %}
    <title>{{form.instance.title}}</title>
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
    <div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
        <h4><h1>{{form.instance.title}}</h1></h4>
        <br>{{ form.instance.location }} - {{ form.instance.category }} - {{ form.instance.timestamp }} - {{ form.instance.updated }}
        </div>
    </div>
    </div>

<hr/>

<h3>Make Changes</h3>
    {% include 'snippets/form-snippet.html' with form=form %}
{% endblock content %}