{% extends 'base.html' %}
{% block title %}
    <title>{{ title }}</title>
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
<h1>{{ title }}</h1>
{#    Receiving validaiton of RestaurantCreateView #}
    {% if form.erros.non_field_errors %}
        {{ form.errors.non_field_errors }}
    {% endif %}
{#    Receiving validaiton of RestaurantCreateView #}

{#    Receiving validaiton of restaurant_create_modal_view and restaurant_create_view #}
    {#    {% if erros %}#}
    {#        {{ errors }}#}
    {#    {% endif %}#}
{#    Receiving validaiton of restaurant_create_modal_view and restaurant_create_view #}
<form method="POST"> {% csrf_token %}
{#    <input type="text" name="title" placeholder="Your Title"><br/><br/>#}
{#    <input type="text" name="location" placeholder="Your Location"><br/><br/>#}
{#    <input type="text" name="category" placeholder="Your Category"><br/><br/>#}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% endblock content %}