{% extends 'base.html' %}
{% block title %}
    <title>Add Restaurant</title>
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
<h1>Add Restaurant</h1>
    {% if erros %}
        {{ errors }}
    {% endif %}
<form method="POST"> {% csrf_token %}
{#    <input type="text" name="title" placeholder="Your Title"><br/><br/>#}
{#    <input type="text" name="location" placeholder="Your Location"><br/><br/>#}
{#    <input type="text" name="category" placeholder="Your Category"><br/><br/>#}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% endblock content %}