{% extends 'base.html' %}
{% block title %}
    <title>Restaurants</title>
{% endblock title %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}
<h1>My Restaurants <samll><a href="{% url 'restaurants:create' %}">Add</a></samll></h1>
<ul>
    {% for obj in object_list %}
    <div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
        <h4><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></h4>
        <br>{{ obj.location }} - {{ obj.category }} - {{ obj.timestamp }} - {{ obj.updated }}
        </div>
    </div>
    </div>

    {% empty %}
        <li><a href="{% url 'restaurants:create' %}">Add a Restaurant</a></li>
    {% endfor %}
</ul>
{% endblock content %}